{% extends 'base.html'%}
{% import 'marcos.html' as marco%}

{% block content%}
<div class="container">
    <!-- Technology news slot -->
    <h3>Top technology news</h3>
    <hr>
    {{ marco.displaySourceList(technology_source)}}

    <!-- Bussines news slot -->
    <h3>Top bussines news</h3>
    <hr>
    {{ macro.displaySourceList(sources)}}

    <!-- Entertainment news slot -->
    <h3>Top entertainment news</h3>
    {{macro.displaySourceList(entertainment_suorces)}}

    <!-- Sports news -->
    <h3>Top sports news</h3>
    {{macro.displaySourceList(sports_sources)}}
